$black  	: #000000;
$brown  	: #432a1a;
$red 	  	: #FF3000;
$orange 	: #FD7900;
$pale-orange: #efa47b;
$grey_light : #dcdcdc;
$grey_mid 	: #bbb;
$grey_dark 	: #444;
$grey_stick : #bbb; 
$pale-blue  : #d9e9ef;
$light-blue : #52b1ea;
$mid-blue   : #077dc3;
$dark-blue  : #064771;
 
$green      : #4a993e;
$yellow     : #d6c460;

$dark-grey  : #222222;

$home 		: $brown;
$noi-e-loro : #E24717;
$benessere 	: #948D34;
$comportamento : #ff6804;
$cultura 	: #8a4111;
$blog 		: #aaa;
$color_menu : #e6e1d9;
$color_blogbox : #fdf1e6; 
$color_amazon_btn :  #f8bf36;
